div#ymp .hidden {
	visibility: hidden;
}

div#ymp {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 100%;
	height: 60px;
	background-color: rgb(74, 10, 116);
	color: #FFF;
	line-height:24px;
    font-size: 16px;
    padding-bottom: 2px;
    padding-top: 2px;
    position: fixed;
    bottom: 0;

    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
	display: inline-flex;
}

div#ymp div#ympPrevious, div#ymp div#ympNext{
	position: relative;
	top: 15px;
	font-size: 26px;
	cursor: pointer;
	font-weight: bold;
  padding-left: 11px;

}

div#ympLeftPart {
	padding-top: 3px;
    padding-left: 2px;
    display: flex;
    top: 15px;

}

div#ympRightPart {
	padding-left: 10px;
    padding-right: 10px;
    float: right;
    display: flex;
    top: 15px;

}

div#ymp #ympPlay div {
	font-size: 20px;
	position: relative;
	top: 15px;
	cursor: pointer;
  padding-top: 1px;
  margin-right: 2px;
}
div#ymp #ympPause div {
	font-size: 30px;
	position: relative;
	top: 15px;
	cursor: pointer;
  padding-top: 1px;
  margin-right: 2px;
}
div#ymp #ympPlay {
	margin-left: 5px;
	display: inline-block;
	width: 9px;
}

div#ymp #ympLoading {
	position: relative;
	top: 15px;
	left: 14px;
}
div#ymp #ympLoading img {
	height: 15px;
	width: 15px;
}

div#ymp div#ympTitle, div#ymp div#ympError {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 16px;
	display: inline-block;
    white-space: nowrap;
    top: 15px;

}

div#ympBar {
	position: relative;
	width: 100%;
	border: 1px solid #fff;
	height: 15px;
	background-color: rgb(20, 3, 17);
	overflow: hidden;
	margin-top: 8px;
  display: inline-flex;
  top: 15px;

}


div#ymp div.ympBuffered {
	z-index: 1;
	position: absolute;
	background-color: #666;
	width: 0%;
	height: 5px;
}

div#ymp #ympProgress {
	z-index: 2;
	position: absolute;
	width: 2px;
	height: 14px;
	border: 1px solid #fff;
	background-color: #fff;
}

div#ymp #soundBar {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 100px;
  background-color: rgba(122, 5, 126, 0.836);

	overflow: hidden;
	margin-left: 5px;
}

div#ymp #soundValue {
	z-index: 2;
	left: 50%;
	position: absolute;
	width: 3px;
	height: 4px;
	border: 1px solid rgb(120, 20, 187);
	border-radius: 50%;
	background-color: rgb(150, 26, 221);
}

div#ymp div#ympTime {
  padding-top: 18px;
  padding-bottom: 4px;
    padding-right: 4px;
    top: 15px;
}
#volume{
  padding-top: 20px;



}

div#ymp .hidden {
    display: none !important;
}
