<mat-form-field style="width:95%; ">
  <mat-select placeholder="Add a song to your playlist" [formControl]="songs" multiple [(ngModel)]="selectedValue">
    <mat-option *ngFor="let song of songList" [value]="song">{{song}}
    </mat-option>

  </mat-select>

</mat-form-field>

<mat-list role="list" style="margin-left: 480px;"><mat-list-item role="listitem" *ngFor="let value of selectedValue">
 {{value}}
  <br></mat-list-item> </mat-list>
<br>
<br> &nbsp;&nbsp;&nbsp;
<br>
<button (click)="video=!video" *ngIf="selectedValue=='Temporary Bliss'" mat-raised-button color="primary" style="margin-left: 580px;">Watch Video</button>
<button (click)="video2=!video2" *ngIf="selectedValue=='That Man'" mat-raised-button color="primary" style="margin-left: 580px;">Watch Video</button>
<button (click)="video3=!video3" *ngIf="selectedValue=='Sweet Emotion'" mat-raised-button color="primary" style="margin-left: 580px;">Watch Video</button>
<button (click)="video4=!video4" *ngIf="selectedValue=='Miracle'" mat-raised-button color="primary" style="margin-left: 580px;">Watch Video</button>
<button (click)="video5=!video5" *ngIf="selectedValue=='September Song'" mat-raised-button color="primary" style="margin-left: 580px;">Watch Video</button>

<div style="margin-left: 370px;" class="video" *ngIf="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/PnugraD0wOQ" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div style="margin-left: 370px;" class="video" *ngIf="video2">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/e9Xtl22x5Sg" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div style="margin-left: 370px;" class="video" *ngIf="video3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ThPkg77sv7o" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div style="margin-left: 370px;" class="video" *ngIf="video4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iSyN5ge0i2g" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div style="margin-left: 370px;" class="video" *ngIf="video5">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9ORWF5RkdO0" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<app-photo-gallery></app-photo-gallery>
