<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper style ="width: 95%;">

    <mat-step  [stepControl]="firstFormGroup" >

      <form  [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Song name: </ng-template>
        <mat-form-field>
          <input matInput autofocus [(ngModel)]="names" placeholder="Name:" formControlName="firstCtrl" required #pstepper>

        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Artist name: </ng-template>
        <mat-form-field>
          <input matInput autofocus [(ngModel)]="artist" placeholder="Artist" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Song length: </ng-template>
        <mat-form-field>
          <input autofocus matInput [(ngModel)]="length" placeholder="Length" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form  [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Youtube link: </ng-template>
        <mat-form-field>
          <input autofocus matInput [(ngModel)]="youtube" placeholder="Youtube link" formControlName="fourthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form (ngSubmit)="onSubmit()" [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Genre: </ng-template>
        <mat-form-field>

          <input autofocus hidden matInput [(ngModel)]="genre" placeholder="Genre" formControlName="fifthCtrl" required>
          <select placeholder="Select" matInput [(ngModel)]="genre" placeholder="Genre" formControlName="fifthCtrl" required>
              <option value="jazz" >jazz</option>
              <option value="indie rock" >indie rock</option>
              <option value="alt rock" >alt rock</option>

            </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onClear()">Delete previous information</button>
        <button mat-button (click)="emitChild()">Add to autosearch</button>

      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div id="please" *ngFor="let nammes of listOfNames">{{nammes}}</div>


  <!-- <app-stepper hidden [namesong]="pstepper.value"></app-stepper> -->
