<mat-form-field style="width:95%; ">
  <mat-select placeholder="Songs for Aura Lite" [formControl]="songs" multiple [(ngModel)]="selectedValue">
    <mat-option *ngFor="let song of songList" [value]="song">{{song}}

    </mat-option>

  </mat-select>

</mat-form-field>
<br>

<mat-form-field style = "margin-left: 400px;">
  <input matInput placeholder="Name of 1st song" type="string" [(ngModel)]="selectedValue1" class="example-right-align">
  <span matPrefix>♫&nbsp;</span>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Duration of song" type="number" step="0.10" [(ngModel)]="selectedDuration" (ngModelChange)="run()"
    class="example-right-align">
  <span matPrefix>⏲&nbsp;</span>
</mat-form-field>
<br>
<mat-form-field style = "margin-left: 400px;">
  <input matInput placeholder="Name of 2nd song" type="string" [(ngModel)]="selectedValue2" class="example-right-align">
  <span matPrefix>♫&nbsp;</span>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Duration of 2nd song" type="number" step="0.10" [(ngModel)]="selectedDuration2" (ngModelChange)="run()"
    class="example-right-align">
  <span matPrefix>⏲&nbsp;</span>
</mat-form-field>
<br>
<p style = "margin-left: 400px;">Your selections:</p>
<p style = "margin-left: 400px;"> Selected song 1: {{selectedValue1}} &nbsp; Selected duration: {{selectedDuration}}</p>
<p style = "margin-left: 400px;"> Selected song 2: {{selectedValue2}} &nbsp; Selected duration: {{selectedDuration2}}</p>
<p style = "margin-left: 400px;" *ngIf="selectedDuration && selectedDuration2"> Duration of all songs: {{((selectedDuration*1) + (selectedDuration2*1))}} minutes </p>

<p style = "margin-left: 400px;"id="hi" *ngIf="sum > 5">You have exceeded the time allowed for songs. <br>
Air time will exceed 30 minutes.</p>
