<br>
<br><br><br>
<br><br>
<img [src] = "photoURL" width="15%" style="margin-left: 500px;" [@photoState]="position" class="photo">

<br>
<br><br>
<div style="margin-left: 420px;">
<button mat-raised-button  (click) = "changePosition('move')" class = "button">Translate</button>
<button  mat-raised-button  (click) = "changePosition('spin')" class = "button">Rotate</button>
<button mat-raised-button (click) = "changePosition('enlarge')" class = "button">Scale</button>
<button mat-raised-button (click) = "changePosition('null')" class = "button">Reset</button>
</div>
