#buttons{
  align-content: right;
  align-items: right;
  background-color: rgba(206, 203, 236, 0.494);
position: absolute;
  right: 12px;
  margin: 0;
}
#container {

  background-color: rgba(0, 0, 0, 0.952);
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

}
body{
  background-color: rgba(0, 0, 0, 0.952);

}
