<mat-toolbar color="primary">

  Music App

  <div id="buttons">
    <button id="button1" mat-raised-button matTooltip="Search for a Song in the database" color="violet" id="show" (click)="show=!show">
      Search</button>
    <button id="button2" mat-raised-button matTooltip="Make an Aura Lite Playlist" color="violet" id="show3" (click)="show3=!show3">Aura Lite</button>
    <button id="button3" mat-raised-button matTooltip="Add a new song" color="violet" id="show2" (click)="show2=!show2">Add a new song</button>
    <button id="button4" mat-raised-button matTooltip="Add songs to your playlist" color="violet" id="show4" (click)="show4=!show4">My Songs</button>
    <button id="button5" mat-raised-button matTooltip="animations" color="violet" id="show5" (click)="show5=!show5">Animations</button>

    <button mat-raised-button (click) = "toggle()">Show The Logo</button>

  </div>
  &nbsp;
  <div [@popOverState]="stateName">
      <p><img src="./assets/aura.jpg" style=" width: 7%; ">
      </p>
</div>
</mat-toolbar>
<img src="./assets/aura2.jpg" style=" width: 100%; height: 10%; ">
<div class="mat-app-background basic-container" id="container" fullscreen>





  <div *ngIf="show && filteredSongs" id="containerSearch" style="margin-left: 350px;">
    <mat-form-field style="width:470px;">
      <input matInput type="text" size='60' autofocus placeholder="Search by song name or artist name" [(ngModel)]="value" [matAutocomplete]="auto"
        [formControl]="songCtrl" multiple [(ngModel)]="selectedSearch">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let song of filteredSongs" [value]="song.name">
          <img class="example-option-img" aria-hidden [src]="song.cover" height="25">
          <span>{{song.name}}</span> |
          <small>Artist: {{song.artist}}</small> &nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="video=!video">Watch YouTube Video</button>
          &nbsp;
        </mat-option>
        <mat-option *ngFor="let song of addedSongs" [value]="song.name">
          <img class="example-option-img" aria-hidden [src]="song.cover" height="25">
          <span>{{song.name}}</span> |
          <small>Artist: {{song.artist}}</small> &nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="video=!video">Watch YouTube Video</button>
          &nbsp;
        </mat-option>
      </mat-autocomplete>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      </button>
    </mat-form-field>
  </div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <app-stepper *ngIf="show2" (msgEvent)="receiveValue($event)"></app-stepper>
  <app-playlists *ngIf="show3" [message]="message"></app-playlists>
  <app-youtube-music-player2></app-youtube-music-player2>
  <app-myplaylist *ngIf="show4"></app-myplaylist>
  <app-photo-gallery *ngIf="show5"></app-photo-gallery>
  &nbsp;&nbsp;&nbsp;
  <br>
  <div style="margin-left: 350px;" class="video" *ngIf="value==='Temporary Bliss'">
    <iframe width="470" height="315" src="https://www.youtube.com/embed/PnugraD0wOQ" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div style="margin-left: 350px;" class="video" *ngIf="value==='That Man'">
    <iframe width="470" height="315" src="https://www.youtube.com/embed/e9Xtl22x5Sg" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div style="margin-left: 350px;" class="video" *ngIf="value==='Sweet Emotion'">
    <iframe width="470" height="315" src="https://www.youtube.com/embed/ThPkg77sv7o" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div style="margin-left: 350px;" class="video" *ngIf="value==='Miracle'">
    <iframe width="470" height="315" src="https://www.youtube.com/embed/iSyN5ge0i2g" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div style="margin-left: 350px;" class="video" *ngIf="value==='September Song'">
    <iframe width="470" height="315" src="https://www.youtube.com/embed/9ORWF5RkdO0" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <br>
</div>
